/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* Primary Colors */

  --clr-dark-cyan: hsl(185, 75%, 39%);
  --clr-very-dark-blue: hsl(229, 23%, 23%);
  --clr-dark-grayish-blue: hsl(227, 10%, 46%);

  /* Neutral Colors */
  --clr-dark-gray: hsl(0, 0%, 59%);
  --clr-white: #fff;

  /* Other Root CSS */
  --ff-primary: "Kumbh Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/*
=============== 
Global Styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-dark-cyan);
  color: var(--clr-very-dark-blue);
  line-height: 1.5;
  font-size: 1.25rem;
  text-transform: capitalize;
  overflow: hidden;
}

img {
  width: 100%;
  display: block;
}
h2 {
  font-size: 1.3rem;
  font-weight: 700;
}

/* main content box styles */
.main-section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.main-section::before,
.main-section::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100vh;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.main-section:before {
  top: 0%;
  left: 5%;
  background: url("../images/bg-pattern-top.svg") no-repeat bottom right;
}
.main-section:after {
  top: 100%;
  left: 95%;
  background: url("../images/bg-pattern-bottom.svg") no-repeat top left;
}

/* Profile Card Styles */

.card {
  background-color: var(--clr-white);

  width: clamp(320px, calc(50vh - 100px), 400px);
  /* width: 85vw; */
  border-radius: 15px;
  box-shadow: var(--dark-shadow);
}
@media screen and (min-width: 776px) {
  .card {
    flex: 0 0 400px;
  }
}
.card-header {
  height: 9.5rem;
  background: url("../images/bg-pattern-card.svg") center/cover no-repeat;
  position: relative;
  padding: 1rem 1.5rem;
  margin-bottom: 5.5rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.img-container {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  border: solid var(--clr-white) 7px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
}
.header-img {
  border-radius: 50%;
  width: 100%;
  height: auto;
}
.card-info {
  border-bottom: 1px solid hsl(0, 0%, 90%);
}
.card-info h2 {
  margin-bottom: 0.5rem;
}
.card-info span,
p {
  font-weight: 400;
  color: var(--clr-dark-gray);
}
.card-info p {
  font-size: 1rem;
  margin-bottom: 1.75rem;
}
.card-footer {
  display: flex;
  justify-content: space-between;
  padding: 1.75rem 2.75rem;
}
.card-footer p {
  font-size: 0.8rem;
  letter-spacing: var(--spacing);
}
